.button_wrap {
    position: absolute;
    top: -50px;
    right: calc(50% - 600px);
    width: 100px;
}

.button_wrap .swiper-button-next, .button_wrap .swiper-button-prev {
    background-size: 12px 12px;
    border: 2px solid;
    border-radius: 50%;
    width: 44px;
    background-color: #fff
}

.button_wrap .swiper-button-next {
    /* background-image: url("../images/right.svg"); */
    right: 0;
}

.button_wrap .swiper-button-prev {
    /* background-image: url("../images/left.svg"); */
    left: 0;
}
