p {
    background-color: yellow;
  }
  #first-span {
     padding: 20px;
    background-color: lightblue;
  }
  #second-span {
     padding: 30px;
    background-color: lightgreen;
  }
  #third-span {
     padding: 40px;
    background-color: lightgray;
  }